@tailwind base;
@tailwind components;
@tailwind utilities;

.booknow {
  width: 100%;
  font-size: 16px;
  background: #3456FF;
  background: #3456ff;
  color: white;
  padding: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: 1rem;
}

.booknow span {
  display: block;
  margin-left: 0.5em;
  transition: all 0.3s ease-in-out;
}

.booknow svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.booknow:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.booknow:hover svg {
  transform: translateX(3.7em) scale(1.1);
}

.booknow:hover span {
  transform: translateX(12em);
}

.booknow:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.3em);
  }

}

@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: #3456ff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
}